<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
	  <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
	  <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
	  <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/</property>
	  <property name="hibernate.connection.username">SA</property>
	  <property name="hibernate.connection.password"></property>
	  
	  <property name="hibernate.hbm2ddl.auto">create-drop</property>
	   <property name="hibernate.show_sql">true</property>
	   <!-- property name="hibernate.current_session_context_class">com.mvn.AnnotationsHbrnt.HibernateDemo</property-->
   <!-- List of XML mapping files -->
<mapping class="com.mvn.InheritanceJoined.Employee"/>
<mapping class="com.mvn.InheritanceJoined.RegularEmployee"/>
<mapping class="com.mvn.InheritanceJoined.ContractEmployee"/>

      

</session-factory>
</hibernate-configuration>